body{
    background:linear-gradient(to right, #967DA1, #CBCE12);
}
.App{
    background:tan;
    height: 400px;
    padding-top:20px;
    width:500px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.header{
    flex:3;
    background: teal;

}
.content{
    flex: 9;
    background:rgb(112, 96, 124);
}
.aboutbio{
    margin-top:40px;
}
.formtextarea{
    border-radius:10px;
    margin-top: 15px;
    margin-left:10px;
}
.formname{
    margin-right:5px;
}
.formname,.formmail{
    padding:10px;
}
.formname,.formmail,.formtextarea:focus{
    outline: none;
}
.social-icons{
     text-align: center;
    padding:10px; 

}
